<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <script src="../interface.js"></script>
  <script src="../notebook.js"></script>
  <script src="../note.js"></script>
  <script src="./popup.js"></script>
  <title>Notes</title>
</head>
<body>
  <h1>Welcome to Notes</h1>
  <div id="container">
    <form id='new-note-form' action="">
      <input id='note-text' type="text" placeholder="Enter note here">
      <input id='submit' type="submit" value="Create Note">
    </form>
    <h3>Click to see full note</h3>
    <div id="feed">
      <div id="note" class="note-style" onclick="pop.open('Today is a very good day')"></div>
    </div>
  </div>

  <div id="pop-up">
    <div id="pop-box">
      <div id="pop-close" onclick="pop.close()">X</div>
      <div id="pop-text"></div>
    </div>
  </div>

</body>
</html>